/* Geral */
body {  overflow-x: hidden; }
section, header, nav, video { display: block; height: auto; }
body > section, #main > section { padding: 50px 0; }
ul, figure { margin: 0; }
ul { padding-left: 0; }
ul li { list-style: none; }
img { max-width:100%; }
a:hover{
    text-decoration: none;
}
*:active,
*:focus{
	outline: none;
}
#back-to-top { position: fixed; z-index: 8999; right: 15px; bottom: 75px; display: none; vertical-align: top; }

/* Textos */
p,h1,h2,h3,h4,h5,h6,input,textarea,label,a,span,button,li{font-family: 'Source Sans Pro', sans-serif; font-weight: 300; -webkit-font-smoothing: antialiased !important; -moz-osx-font-smoothing: grayscale !important; color: #333; }

.no-select { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-touch-callout: none; -khtml-user-select: none; -o-user-select: none; }

/* Forms */
label.lbl-plholder { position: absolute; top: 25px; left: 25px; -webkit-transition: all .3s ease; -moz-transition: all .3s ease; -ms-transition: all .3s ease; -o-transition: all .3s ease; transition: all .3s ease; }
label.lbl-plholder.active { top: 20px; font-size: 10px; }
input[type="text"], input[type="email"], input[type="password"], textarea { height: 40px; width: 100%; margin-top: 15px !important; margin-bottom: 0; padding-left: 10px; padding-top: 15px; outline: none; -webkit-transition: all .25s ease; -moz-transition: all .25s ease; -ms-transition: all .25s ease; -o-transition: all .25s ease; transition: all .25s ease; }
textarea:focus{ height:100px; }
input[type="text"]#campo-controle { display: none; }
input.error, textarea.error { border-right: 3px solid #f04124 !important;}
label.error { margin-top: 3px; }
fieldset { margin: 0; }
form .row.enviar { margin-top: 15px; }
.mail-enviado { padding: 47px 0; }
.mail-enviado img { width: 105px; }
form.loading { opacity: 0.5; }
form.loading .fa-spinner { display: block; }
.fa-spinner { display: none; width: 54px; left: 50%; margin-left: -27px; position: absolute; z-index: 9999; margin-top: 50px; }
.mail-enviado i { font-size: 80px; }

/* spinkit: see others @ tobiasahlin.com/spinkit */
.spinner { margin: 100px auto 0; width: 70px; text-align: center; }
.spinner > div { width: 18px; height: 18px; background-color: #333; border-radius: 100%; display: inline-block; -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both; animation: sk-bouncedelay 1.4s infinite ease-in-out both; }
.spinner .bounce1 { -webkit-animation-delay: -0.32s; animation-delay: -0.32s; }
.spinner .bounce2 { -webkit-animation-delay: -0.16s; animation-delay: -0.16s; }

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0); transform: scale(0); }
    40% { -webkit-transform: scale(1.0); transform: scale(1.0); }
}