nav.tab-bar .menu-items-top {
	padding: 0 20px;
	border-right: 1px solid rgba(0, 112, 149, 0.10);
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
button#zerar-banco {
	display: none
}
dl.tabs.show-code {
	margin-top: 40px
}
a.open-code.right i {
	margin-top: 10px;
	position: absolute;
	right: 15px
}
.row.top-title-options {
	border-bottom: 1px solid rgba(51, 51, 51, 0.14);
	padding: 0;
	margin-bottom: 10px;
	padding-bottom: 10px
}
.set-star, .set-active {
	cursor: pointer;
	margin-top: 5px;
	margin-left: 5px
}
nav.tab-bar .menu-items-top:hover:not(.logout, .idiomas) {
	background: rgba(0, 112, 149, 0.09)
}
nav.tab-bar .menu-items-top.logout:hover {
	background: #cf2a0e
}
table thead {
	background: #fff
}
nav.tab-bar .menu-items-top i {
	margin-right: 5px
}
nav.tab-bar .menu-items-top a {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
nav.tab-bar .menu-items-top a:hover {
	color: #fff
}
nav.tab-bar .menu-items-top:not(.idioma):hover a, nav.tab-bar .menu-items-top:hover span {
	color: #fff
}
form#login h1 {
	color: #fff;
	font-size: 30px;
	font-weight: 300;
	margin-bottom: 15px
}
form#login p {
	color: #fff
}
form#login .label.alert {
	margin-top: 15px
}
.only-icon span {
	display: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
.only-icon:hover span {
	display: initial
}
.no-js #loader {
	display: none
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(../img/pre-loader.gif) center no-repeat #fff
}
form#login .panel {
	border-color: #fff;
	background: rgba(255, 255, 255, 0.28)
}
form#login fieldset button {
	background: #fff;
	color: #333;
	margin-left: 20px
}
div#login-copy {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -50px
}
div#login-copy p {
	text-align: center;
	color: #fff;
	font-size: 10px
}
form#login fieldset label:not(.error) {
	text-align: left;
	color: #fff;
	margin-bottom: 3px
}
form#login fieldset>a {
	color: #fff
}
nav.tab-bar {
	background: #0099FF
}
.tab-bar-section {
	left: 50px
}
button#zerar-banco {
	padding: 8px;
	float: right;
	margin-right: 7px;
	margin-top: 7px
}
span.remove-mod {
	position: absolute;
	right: 10px;
	margin-top: 10px;
	color: #fff;
	opacity: 0.2;
	cursor: pointer
}
.show-multiple {
	display: none
}
.mod-options {
	background: #333;
	margin-top: 19px;
	padding: 20px
}
.mod-options label {
	color: #fff
}
.layout-options {
	border-bottom: 1px solid #ccc;
	padding: 25px
}
.layout-options:last-child {
	border: 0 !important
}
.mod-options label {
	width: 257px;
	display: inline;
	height: inherit;
	text-align: left;
	margin: 0 10px 0 20px
}
.image-box ul#image-options {
	list-style-type: none;
	margin: -68px 0 0 0;
	display: none;
	background: rgba(0, 0, 0, 0.6);
	z-index: 999;
	position: absolute;
	padding: 5px 10px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
.image-box:hover ul#image-options {
	display: block !important
}
.alterar-aberto img.main-image {
	opacity: 0.2
}
.alterar-aberto ul#image-options {
	opacity: 0
}
.image-box.alterar-aberto input[type="file"] {
	display: block;
	margin-top: -100px !important;
	position: absolute;
	margin-left: 30px
}
.file-box.alterar-aberto input[type="file"] {
	display: block
}
.image-box ul#image-options i {
	font-size: 17px;
	color: #fff;
	border-bottom: 0;
	cursor: pointer;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
.image-box ul#image-options i:hover {
	font-size: 20px
}
.file-box ul#file-options {
	display: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
.file-box:hover ul#file-options {
	display: block
}
ul#file-options img {
	width: 25px;
	border-bottom: 0;
	cursor: pointer
}
ul#image-options li, ul#file-options li {
	display: inline-block;
	padding: 10px
}
.star.set {
	width: 18px;
	cursor: pointer
}
.star.set.disabled {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	filter: gray;
	-webkit-filter: grayscale(100%)
}
.ui-state-default, .ui-state-default a {
	cursor: move
}
section.left-small {
	background: #0099CC;
	border-right: solid 1px #0F88B1;
	box-shadow: none
}
.trocar-imagem-cancel, .trocar-arquivo-cancel {
	display: none
}
.file-box.alterar-aberto ul#file-options, .file-box.alterar-aberto .file-desc {
	display: none
}
.image-box.alterar-aberto .trocar-imagem-cancel, .file-box.alterar-aberto .trocar-arquivo-cancel {
	display: block
}
#logo {
	width: 145px
}
.panel.filtros, .panel.graficos {
	max-width: 60.5rem;
	margin-top: 50px
}
.panel.filtros span.label, .panel.graficos span.label {
	background: #d8d8d8;
	position: absolute;
	margin-top: -41px;
	margin-left: -21px;
	color: #333;
	padding: 5px 15px
}
.panel.graficos {
	background: #fff
}
.panel.filtros select, .panel.filtros input, .panel.graficos select, .panel.graficos input {
	margin: 0
}
div.row.instrucoes .fechar {
	cursor: pointer;
	margin: -15px -10px 0 0
}
div.row.instrucoes .titulo {
	margin: -18px 0 24px -10px;
	position: relative;
	color: #ccc
}
table.list-table {
	width: 100% !important;
	border: 0
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
	background: #fff
}
td.text-right.options i {
	font-size: 20px !important;
	margin-left: 5px;
	cursor: pointer
}
.options i.fa-toggle-on {
	color: #368a55
}
.list-right-options {
	margin-top: 74px;
	padding: 0
}
.slider.right.options {
	font-size: 23px
}
.inactive {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	opacity: 0.8
}
.options.right {
	vertical-align: top;
	line-height: 100%
}
.options i.fa-toggle-off, .options i.fa-star-o {
	color: #b9b9b9
}
.options i.fa-star {
	color: gold
}
ul.off-canvas-list li i {
	margin-right: 7px
}
div#submenu h1 {
	font-size: 30px;
	margin: 30px 0 5px 0
}
div#submenu ul {
	margin-top: -3px
}
div#submenu ul li i {
	margin-top: 3px
}
table.list-table tbody tr:first-child td {
	border-top: 2px solid rgba(0, 112, 149, 0.20)
}
table.list-table th, table.list-table td {
	color: #669;
	border-top: 1px solid #e8edff;
	padding: 10px 15px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
table.list-table th {
	border-top: 0;
	color: #000
}
table.list-table:not(#tabela_menu_img) tr:hover td {
	color: #339;
	background: #eff2ff
}
table#tabela_menu_img.list-table .columns:hover {
	color: #339;
	background: #eff2ff
}
table.list-table td a:not(.label) {
	color: #222222
}
a.label.active:hover, a.active.label:focus {
	color: #fff
}
table.list-table tbody tr {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
table#tabela_menu tbody tr:hover {
	background: rgba(247, 227, 6, 0.20)
}
table#tabela_menu_img tbody .columns {
	height: 200px;
	line-height: 200px;
	text-align: center
}
table#tabela_menu_img tbody .columns img {
	max-width: 80%;
	max-height: 90%;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
table#tabela_menu_img tbody .columns:hover img {
	opacity: 0.8
}
button, .button {
	border-radius: 2px
}
button.cinza, .button.cinza {
	background-color: #CEC7C7
}
html, body, #container, .off-canvas-wrap {
	margin: 0;
	padding: 0
}
footer {
	position: absolute;
	bottom: 0;
	width: 100% !important;
	clear: both;
	height: 3em;
	background: rgba(224, 224, 224, 0.36);
	opacity: 0.3;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
footer:hover {
	opacity: 1
}
footer .columns {
	line-height: 3em;
	vertical-align: middle
}
footer .large-4 p {
	margin: .75rem 0 0 0
}
footer .large-4.icons img {
	border-bottom: 0;
	width: 36px;
	margin-left: 10px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
table#tabela_imagens .ui-state-default {
	margin-bottom: 26px;
	height: 213px;
	overflow: hidden
}
footer .large-4.icons img:hover {
	border-bottom: 0;
	width: 60px;
	margin-top: -2em
}
.spacer-header {
	height: 100px
}
form .inline-list > li > * {
	display: inline !important
}
.margintop10 {
	margin-top: 10px !important
}
.margintop40 {
	margin-top: 40px !important
}
.margintop30 {
	margin-top: 30px !important
}
.margintop20 {
	margin-top: 20px !important
}
.marginleft10 {
	margin-left: 10px !important
}
.marginleft20 {
	margin-left: 20px !important
}
.marginright10 {
	margin-right: 10px !important
}
.marginright20 {
	margin-right: 20px !important
}
.marginbottom10 {
	margin-bottom: 10px !important
}
.marginbottom20 {
	margin-bottom: 20px !important
}
.height100 {
	height: 100px !important
}
.height200 {
	height: 200px !important
}
.height300 {
	height: 300px !important
}
.margintop-10 {
	position: relative;
	margin-top: -10px !important
}
.margintop-20 {
	position: relative;
	margin-top: -20px !important
}
.marginleft-10 {
	position: relative;
	margin-left: -10px !important
}
.marginleft-20 {
	position: relative;
	margin-left: -20px !important
}
.marginright-10 {
	position: relative;
	margin-right: -10px !important
}
.marginright-20 {
	position: relative;
	margin-right: -20px !important
}
.marginbottom-10 {
	position: relative;
	margin-bottom: -10px !important
}
.marginbottom-20 {
	position: relative;
	margin-bottom: -20px !important
}
div#breadcrumbs {
	background: rgba(220, 243, 250, 0.3) url(../img/breadcrumbs-background.png) top right no-repeat;
	margin: 0;
	padding: 0
}
div#breadcrumbs ul.breadcrumbs {
	background: none;
	border: 0;
	padding: 13px;
	margin: 0
}
div#submenu {
	padding-top: 10px
}
div#submenu li a, div#submenu li {
	margin: 0;
	float: left;
	font-size: 0.6875rem;
	text-transform: uppercase
}
div#submenu li.ativo a {
	cursor: default;
	color: #333333
}
div#submenu li {
	padding: 0 8px 0 0
}
div#submenu ul {
	margin: 0
}
.columns.large-12 h2 {
	margin-top: 40px;
	font-size: 1.7rem !important
}
.bold {
	font-weight: bold
}
span.disabled {
	font-weight: normal;
	color: #ccc
}
code {
	font-weight: normal !important
}
a.open-code i {
	opacity: 0.6;
	color: #333;
	cursor: pointer;
	font-size: 26px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
a.open-code {
	float: right;
	z-index: 99000
}
.tabs.show-code, .tabs-content.show-code {
	display: none
}
a.open-code img.absolute {
	position: absolute;
	margin: 15px 0 0 0
}
a.open-code.right img.absolute {
	margin: -35px 15px 0 0;
	right: 0
}
dl.tabs.show-code.left {
	margin-left: 66px
}
a.open-code.opened i {
	opacity: 1
}
.switchTipo {
	position: absolute;
	right: 15px;
	top: -40px
}
.filtro-settings {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
h3 {
	background: rgba(51, 51, 51, 0.14);
	float: left;
	margin: -10px 0 30px -15px;
	padding: 3px 15px;
	font-size: 19px
}
i.settings {
	margin-right: -35px;
	margin-top: -65px;
	opacity: 0.6;
	display: none;
	color: #333;
	font-size: 20px !important;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
i.settings:hover {
	opacity: 1
}
.filtro-settings:hover {
	padding-right: 60px
}
.filtro-settings:hover i.settings {
	display: block
}
pre.prettyprint {
	background-color: #333
}
pre .nocode {
	background-color: none;
	color: #000
}
pre .str {
	color: #ffa0a0
}
pre .kwd {
	color: #f0e68c;
	font-weight: bold
}
pre .com {
	color: #87ceeb
}
pre .typ {
	color: #98fb98
}
pre .lit {
	color: #cd5c5c
}
pre .pun {
	color: #fff
}
pre .pln {
	color: #fff
}
pre .tag {
	color: #f0e68c;
	font-weight: bold
}
pre .atn {
	color: #bdb76b;
	font-weight: bold
}
pre .atv {
	color: #ffa0a0
}
pre .dec {
	color: #98fb98
}
ol.linenums {
	margin-top: 0;
	margin-bottom: 0;
	color: #AEAEAE
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
	list-style-type: none
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
}
@media print {
	pre.prettyprint {
		background-color: none
	}
	pre .str, code .str {
		color: #060
	}
	pre .kwd, code .kwd {
		color: #006;
		font-weight: bold
	}
	pre .com, code .com {
		color: #600;
		font-style: italic
	}
	pre .typ, code .typ {
		color: #404;
		font-weight: bold
	}
	pre .lit, code .lit {
		color: #044
	}
	pre .pun, code .pun {
		color: #440
	}
	pre .pln, code .pln {
		color: #000
	}
	pre .tag, code .tag {
		color: #006;
		font-weight: bold
	}
	pre .atn, code .atn {
		color: #404
	}
	pre .atv, code .atv {
		color: #060
	}
}
.has-tip {
	border-bottom: 0 !important
}
.selectize-control.multi .selectize-input [data-value] {
	font-family: 'Open Sans';
	font-size: 15px
}
div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	background: #fff
}
a.ui-datepicker-next.ui-corner-all {
	float: right
}
div.ui-datepicker-title {
	position: absolute;
	margin-left: 121px;
	margin-top: -16px
}
div.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all {
	padding: 10px;
	border-radius: 3px
}
a.hidden-option {
	color: #008cba !important;
	display: none;
	margin-left: 15px
}
td:hover a.hidden-option {
	display: inline
}
div#doksoft_preview-panel-thumb-resize-texto input {
	display: inherit !important;
	height: 20px !important
}
div#doksoft_preview-panel-img-resize-texto input {
	display: inherit !important;
	height: 20px !important
}
label > input[type="radio"] {
	visibility: hidden;
	position: absolute
}
.footer_mapa_size label > input[type="radio"] {
	visibility: visible
}
label > input[type="radio"] + img {
	cursor: pointer;
	border: 2px solid #ccc
}
label > input[type="radio"]:checked + img {
	border: 2px solid #008CBA
}
label.radio-img {
	float: left;
	margin: 10px
}
label.radio-img > img {
	margin-bottom: 5px
}
.alert-box.success {
	margin-top: 1.25rem;
	-webkit-transition: all .75s ease;
	-moz-transition: all .75s ease;
	-ms-transition: all .75s ease;
	-o-transition: all .75s ease;
	transition: all .75s ease
}
.alert-box.success p {
	margin: 0
}
#layout-options .picker {
	width: 130px
}
section.menu-items-top.idioma span {
	color: #008CBA;
	margin-right: 5px
}
section.menu-items-top.idioma a.active {
	color: #fff;
	border: 1px solid #fff;
	padding: 5px;
	background: #008CBA;
	margin: 0 10px
}
form fieldset {
	background: #f4f7f8;
	border: 1px solid rgba(0, 140, 186, 0.14)
}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea, select {
	border: none;
	font-size: 16px;
	height: auto;
	margin: 0;
	outline: 0;
	padding: 15px;
	width: 100%;
	background-color: #e8eeef;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.09) inset;
	margin-bottom: 30px;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
input[type="text"]:hover, input[type="password"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="time"]:hover, input[type="url"]:hover, textarea:hover, select:hover {
	background-color: rgba(232, 238, 239, 0.8)
}
.tabs-content.show-code {
	margin: -34px 0 0 0
}
code.hljs {
	padding: 20px;
	border: 0;
	font-size: 13px
}
.tabs dd a, .tabs .tab-title a {
	padding: 10px 20px
}
.tabs dd.active a, .tabs .tab-title.active a {
	background: #333;
	color: #fff;
	border: 0;
	outline: none
}
fieldset legend {
	background: #ffffff;
	background: -moz-linear-gradient(top, #ffffff 50%, #f4f7f8 52%, #f4f7f8 52%);
	background: -webkit-linear-gradient(top, #ffffff 50%, #f4f7f8 52%, #f4f7f8 52%);
	background: linear-gradient(to bottom, #ffffff 50%, #f4f7f8 52%, #f4f7f8 52%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f7f8', GradientType=0);
	padding: 0 15px
}
.tabs-content>.content.active>p {
	background: #333;
	margin-top: 19px;
	font-size: 13px;
	padding: 10px;
	color: #fff
}
.row.open-galeria a {
	color: #333;
	font-size: 22px
}
.row.open-galeria .columns {
	padding: 0
}
.alert-box.info.radius {
	background: #fff;
	border: 0;
	text-align: center;
	width: 50%;
	margin: 0 auto;
	border-bottom: 1px dashed #999;
	margin-top: 30px
}
.alert-box.info.radius a {
	display: none
}
.list-right-options i {
	margin: 13px 3px 0 20px
}
.ui-state-default a {
	cursor: pointer
}
.dd-handle, .dd-handle:hover {
	color: #333 !important
}
a.right.menu.confirm {
	display: none
}
a.right.menu {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease
}
.dd i {
	margin: 9px 0 0 10px;
	font-size: 16px
}
a.right.remove, .dd i.fa-toggle-off, .dd i.fa-trash {
	color: #cf2a0e
}
a.right.disabled
{
	color: #ccc;
	-webkit-transition: all .25s ease;
	   -moz-transition: all .25s ease;
	    -ms-transition: all .25s ease;
	     -o-transition: all .25s ease;
	        transition: all .25s ease;
}
a.right.disabled:hover
{
	color: #333;
}
.dd i.fa-trash {
	cursor: pointer;
}
.dd i.fa-toggle-on, .dd .green {
	color: green;
}
.dd a.confirm {
	margin-left: 10px;
}
.dd .active
{
	color: #333;
}