a.disableField {
    position: absolute;
    right: 30px;
    margin-top: 32px;
    color: #999;
    font-size: 18px;

    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

a.disableField:hover
{
	color: #333;
}