header #main-img{
	height: 100vh;
	transform: scale(1.2);
}
header .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #000;
	opacity: 0.5;
}
header .featured-phrase{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 2;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	transform: translateY(-50%);
}
header .featured-phrase h2{
	font-size: 40px;
	color: #FFF;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: 400;
}
section#about{
	position: relative;
	height: 500px;
	padding: 0;
}
section#about h1{
	font-size: 48px;
	position: relative;
	margin-bottom: 60px;
}
section#about h1:before{
	content: '';
	position: absolute;
	bottom: -30px;
	width: 40px;
	height: 2px;
	background: #333;
}
section#about h3{
	line-height: 1.6;
	font-size: 20px;
}
section#about #wrap-img-about{
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40%;
	height: 460px;
}
section#judice{
	background-image: url(../../img/bg-expertises.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	min-height: 700px;
	position: relative;
}
section#judice .uk-container{
	position: relative;
	z-index: 2;
}
section#judice .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #222;
	opacity: 0.9;
}
section#judice h1{
	color: #FFF;
	font-size: 48px;
}
.radial-nav {
	width: 513px;
	height: 513px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 2;
}
.circle-line {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
    transform-origin: center;
	transform: rotate(18deg);
}
.item {
	background: #FFF;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	/*box-shadow: 1px 1px 3px rgba(255,255,255,0.3);*/
	text-align: center;
	position: absolute;
	transition: all .2s, transform .5s;
	transform-origin: center;
	transform: scale(0.5) rotate(-18deg);
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	cursor: pointer;
	border: solid 2px #FFF;
}
.item .flip-container{
	transform-style: preserve-3d;
	position: relative;
	transition: all 0.5s ease;
	height: 100%;
}	

.item.active .flip-container{
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
.item.clicked .face-item{
	background: #333;	
}
.item.active .face-item{
	background: #666;
}
.item .face-item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	background: #999;
	backface-visibility: hidden;
}
.item .front-item{
	z-index: 2;
	transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
}
.item .back-item{
	z-index: 1;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
}
.item i{
	color: #FFF;
    font-size: 70px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    right: 0;
}
.item h3 {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	display: block;
	padding: 0 15px;
	font-size: 18px;
	color: #FFF;
}
.item:nth-child(1) {
	left: 106px;
    top: -62px;
}
.item:nth-child(2) {
	left: -53px;
    top: 81px;
}
.item:nth-child(3) {
	top: 288px;
    left: -53px;
}
.item:nth-child(4) {
	top: 429px;
    left: 115px;
}
.item:nth-child(5) {
	top: 387px;
    left: 340px;
}
.item:nth-child(6) {
	top: 176px;
    left: 439px;
}
.item:nth-child(7) {
	top: -27px;
    left: 331px;
}
.explain{
	position: absolute;
    width: 60%;
    height: 60%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9;
    top: 30%;
}
.explain h2{
	color: #FFF;
	line-height: 1.4;
	font-size: 22px;
	position: absolute;
	top: 50%;
	transform: translateY(-30%);
	margin: 0;
	opacity: 0;
}
.explain h2.frase-inicial{
	opacity: 1;
	transform: translateY(-50%);
	font-size: 30px;
}
section#areas-de-atuacao .wrap-area{
	text-align: center;
	height: 200px;
	padding: 30px;
	overflow: hidden;
}
section#areas-de-atuacao .wrap-area .backstretch{
	transition: all .25s ease;
}
section#areas-de-atuacao .wrap-area:hover .backstretch{
	transform: scale(1.1) rotate(5deg);
}
section#areas-de-atuacao .wrap-area h2{
	font-size: 24px;
	color: #FFF;
	font-weight: 400;
}
section#areas-de-atuacao .overlay{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: #333;
	opacity: 0.7;
}
section#areas-de-atuacao .area-content{
	position: relative;
	z-index: 2;
}
section#diferenciais{
	background: #333;
}
section#diferenciais h1{
	color: #FFF;
	font-size: 48px;
	line-height: 1.2;
}
section#diferenciais ul li{
	color: #FFF;
	padding-bottom: 20px;
	font-size: 12px;
	position: relative;
	font-family: FontAwesome;
	padding-left: 30px;
}
section#diferenciais ul li:before{
	content: "\f00c";
	position: absolute;
	left: 0;
	top: 0;
	color: #FFF;
}
section#diferenciais ul li span{
	color: #FFF;
	font-size: 18px;
}

