ul#download { list-style: none; margin: 50px 0; }
ul#download li { display: inline-block; }
ul#download li:first-child { width: 128px; padding: 0 15px; }

@media only screen and (max-width: 64em){
    
}
@media only screen and (max-width: 40em){
    
}