figure i.fa { top: 50%; left: 50%; margin-top: -50px; margin-left: -60px; position: absolute; font-size: 70px; color: #fff; opacity: 0.8; }

@media only screen and (max-width: 64em){
    
}
@media only screen and (max-width: 40em){
    
}